@import "./Varibles/Varibles.scss";

.animeReview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.animePage-container {
  @include pageContainer();
  flex-direction: row;
  width: 100%;

  //UPDATE

  .newAnimeInf {
    @include inf();
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 4;
    border: 1px solid;
    padding: 15px;
    border-radius: 10px;

    .update-error {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;

      span {
        @include errorMessage();
        display: block;
        width: 100%;
      }
    }

    input,
    select {
      border: 1px solid $pink;
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
      width: 100%;
    }

    p,
    h4,
    h3 {
      padding: 0;
      margin: 0;
    }

    p,
    h4 {
      color: $pink;
    }

    h3,
    h2 {
      color: black;
      text-decoration: underline;
    }

    div {
      display: flex;
      align-items: center;
    }

    textarea {
      width: 100%;
      height: 100%;
      margin: 5px;
    }

    .anime-name-ratio {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .anime-info-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .newAnimeImg {
    @include animeImg();
  }

  .newAnimeSynopsis {
    margin: 10px;
    width: 95%;
    height: 200px;
  }

  //UPDATE

  .animeInf {
    @include inf();

    textarea {
      width: 100%;
      height: 100%;
      margin: 5px;
    }

    .anime-name-ratio {
      @include ratio();
    }

    .animeData {
      @include data();
      flex-wrap: wrap;

      input {
        display: flex;
        margin-bottom: 15px;
        border-radius: 25px;
        padding-left: 10px;
      }
    }
  }

  .animeImg {
    width: 270px;
    height: 400px;
    @include animeImg();
  }

  .animeSynopsis {
    @include synopsis();
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include comment-buttons($pink, white);
  }
}
