@import "./Varibles/Varibles.scss";

.newAnimePage-container {
  @include pageContainer();

  .newAnimeImgText {
    @include info-text;
    padding: 5px;
  }

  .newAnimeInf {
    @include inf();

    .errorMessage {
      @include errorMessage();
      width: 100%;
    }

    input,
    select {
      border: 1px solid $pink;
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
    }

    .newAnime-name-ratio {
      @include ratio();
      flex-wrap: wrap;
    }

    .newAnimeData {
      @include data();
      flex-wrap: wrap;
    }

    button {
      width: 95%;
      border: 1px solid white;
      background-color: $pink;
      color: white;
      border-radius: 15px;
      padding: 5px;
      transition: 0.5s;
      margin-bottom: 20px;
    }

    button:hover {
      border-color: $pink;
      background-color: white;
      color: $pink;
    }

    h4 {
      @include info-text();
      min-width: 200px;
    }
  }

  .newAnimeImg-container {
    margin: 10px;
    .newAnimeImg {
      @include animeImg();
    }
  }

  .newAnimeSynopsis {
    margin: 10px;
    width: 100%;
    height: 200px;
  }
}
