.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* .filter-container {
  width: 100%;
  flex: 1;
} */

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex: 9;
  width: 100%;
}

.last-container {
  flex: 2;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.last-animes {
  width: 100%;
  padding: 0;
}

.animes-container {
  flex: 8;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid white;
}

.best-container {
  flex: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  .best-container {
    flex: 3;
  }

  .last-container {
    flex: 3;
  }
  .animes-container {
    flex: 4;
  }
}

@media (max-width: 650px) {
  .info-container {
    flex-direction: column;
  }
}
