.filter {
  color: rgb(255, 0, 204);
  margin: 5px;
  background-color: white;
  border: 1px solid rgb(255, 0, 204);
}

.filter:hover {
  color: white;
  background-color: rgb(255, 0, 204);
  border: 1px solid white;
}
